.CardBody{
    background: var(--block-color);
    color: var(--text-color-primary);
    display: flex;
    gap: 8px;
    flex-flow: wrap;
    border-radius: 12px;
    flex-grow: 1;
}

.CardBody__circle{
    min-width: 40px;
    height: 40px;
    max-width: 40px;
    background-color: var(--button-color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    color: var(--color-surface);
    font-size: 14px;
}

.CardBody__p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .5px;
    color: var(--text-color-primary);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    text-align: left;
}