.footer{
    background-color: var(--primary-color);
    color: var(--text-color-primary);
    box-shadow: 6px 8px 12px 0px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));

}
    .footer__content{
        display: flex;
        justify-content: center;
        padding: 24px 24px 24px 24px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .footer__company{
        font-size: 22px;
        color: var(--text-color-primary);
    }

    .footer__icons{
        display: flex;
        gap: 30px;
    }




.footerCircle{
    width: 30px;
    height: 30px;
    fill: var(--text-color-primary);
    border: 1px solid;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;

}

.footerCircle:hover{
    filter: brightness(50%);
}