.Header{
    background-color: var(--primary-color);
    color: var(--text-color-primary);
    box-shadow: 0 8px 12px 6px #00000026;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,.3));
    position: fixed;
    width: 100%;
    z-index: 5;
}

.Header__content{
    display: flex;
    justify-content: space-between;
    padding: 18px 24px;
}

.Header__company{
    font-size: 22px;
    color: var(--text-color-primary);
    cursor: pointer;
}

.Header__icons{
    display: flex;
    gap: 30px;
    fill: var(--color-surface-variant);
    height: 24px;
    align-items: center;
}

.Header_adjuster{
    height: 66px;
}

