.Person{
    background-color: var(--primary-color);
    color: var(--text-color-primary);
}

.Person__image{
    width: 100%;
}

.Person__content{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap-reverse;
    row-gap: 20px;
}

@media (max-width: var(--width-to-collapse)) { 
    .Person__content{
        justify-content: center
    }
}

.Person__textBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 548px;
}

.Person__imgBox{
    img{
        width: 100%;
    }
}

.Person__h1{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-surface-variant);
    text-align: left;
}

.Person__h2{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-surface-variant);
    font-weight: 400!important;
    font-size: 32px!important;
    margin-bottom: 12px!important;
    color: var(--text-color-accent);
    font-family: Source Code Pro!important;
    text-align: left;
}

.Person__CodeStyle{
    font-style: normal;
    font-weight: 400!important;
    font-size: 24px!important;
    line-height: 32px!important;
    color: var(--text-color-code);
    margin-bottom: 18px!important;
    font-family: Source Code Pro!important;
    text-align: left;
}


