.during-popup{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    height: 100vw;
    width: 100vw;
    position: initial;
    z-index: 6820;
    position: fixed;
    z-index: 10;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
  }

  


.PopUp{
    position: fixed;
  
    left: 25%;
    top: 30%;
  
    width: 50%;
  
    border: 1px solid #011627;
    border-radius: 1em;
    box-shadow: -2px 5px 5px #E71D36;
  
    background-color: #FDFFFC;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
    color: #011627;
  
    z-index: 20;
    
    
  }